Repository muhandojeon/React-Internals-Deep-Dive, changes with the labels that .github/labeler.yml gives for each.
All labels: 챕터_01, 챕터_02, 챕터_03, 챕터_04, 챕터_05, 챕터_06, 챕터_07, 챕터_08, 챕터_09, 챕터_10, 챕터_11, 챕터_12, 챕터_13, 챕터_14, 챕터_15, 챕터_16, 챕터_17, 챕터_18, 챕터_19, 챕터_20, 챕터_21, 챕터_22, 챕터_23, 챕터_24, 챕터_25, 챕터_26, 챕터_27, 챕터_28, 챕터_29, 챕터_30, 챕터_31, 챕터_32, 챕터_33, 챕터_34, 챕터_35, 챕터_36, 챕터_37, 챕터_38, 챕터_39

Create 이상조.md
  챕터_01/이상조.md
Labels: 챕터_01

Docs: 1장 박승훈
  챕터_01/박승훈.md
Labels: 챕터_01

챕터 1
  챕터_01/상범.md
Labels: 챕터_01

feat: 신승준 1장 요약
  챕터_01/신승준.md
Labels: 챕터_01

docs: Add comprehensive guide on React internals and debugging techniques
  챕터_01/준환.md
Labels: 챕터_01

chore: 내용 추가
  챕터_01/백지연.md
Labels: 챕터_01

[백지연] 챕터 1: The Overview of React internals (#6)
  챕터_01/백지연.md
Labels: 챕터_01

docs: Add comprehensive guide on React internals and debugging techniques (#5)
  챕터_01/준환.md
Labels: 챕터_01

chore: 3.3까지 정리
  챕터_02/백지연.md
Labels: 챕터_02

chore: 내용 보완
  챕터_02/백지연.md
Labels: 챕터_02

chore: 3.6까지 정리
  챕터_02/백지연.md
Labels: 챕터_02

Create 서준환.md
  서준환.md
Labels: none

작성중..
  챕터_02/상범.md
Labels: 챕터_02

.github/labeler.yml:

챕터_01:
  - 챕터_01/*

챕터_02:
  - 챕터_02/*

챕터_03:
  - 챕터_03/*

챕터_04:
  - 챕터_04/*

챕터_05:
  - 챕터_05/*

챕터_06:
  - 챕터_06/*

챕터_07:
  - 챕터_07/*

챕터_08:
  - 챕터_08/*

챕터_09:
  - 챕터_09/*

챕터_10:
  - 챕터_10/*

챕터_11:
  - 챕터_11/*

챕터_12:
  - 챕터_12/*

챕터_13:
  - 챕터_13/*

챕터_14:
  - 챕터_14/*

챕터_15:
  - 챕터_15/*

챕터_16:
  - 챕터_16/*

챕터_17:
  - 챕터_17/*

챕터_18:
  - 챕터_18/*

챕터_19:
  - 챕터_19/*

챕터_20:
  - 챕터_20/*

챕터_21:
  - 챕터_21/*

챕터_22:
  - 챕터_22/*

챕터_23:
  - 챕터_23/*

챕터_24:
  - 챕터_24/*

챕터_25:
  - 챕터_25/*

챕터_26:
  - 챕터_26/*

챕터_27:
  - 챕터_27/*

챕터_28:
  - 챕터_28/*

챕터_29:
  - 챕터_29/*

챕터_30:
  - 챕터_30/*

챕터_31:
  - 챕터_31/*

챕터_32:
  - 챕터_32/*

챕터_33:
  - 챕터_33/*

챕터_34:
  - 챕터_34/*

챕터_35:
  - 챕터_35/*

챕터_36:
  - 챕터_36/*

챕터_37:
  - 챕터_37/*

챕터_38:
  - 챕터_38/*

챕터_39:
  - 챕터_39/*
